<section>
  <div class="w-full px-4 py-8 md:px-6 md:py-12 lg:px-8">
    <div class="mx-auto">
      <h2 id="aboutText" class="mb-[0.8rem] inline-block rounded-md py-[2px] text-[27px]">What we do</h2>
      <h1 class="mb-[1.1rem] text-[36px] font-bold leading-[42px] tracking-[-0.03em] lg:text-[61px] lg:leading-[72px]">
        Efficient apps that simplify your life.
      </h1>
      <div class="flex flex-col gap-[1.5rem] lg:flex-row lg:justify-between lg:gap-[1.2rem] xl:gap-[3rem]">
        <figure class="basis-[55%] lg:h-[500px]">
          <img
            src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzNDk5MjB8MHwxfHNlYXJjaHw0MXx8VGVjaG5vbG9neXxlbnwwfHx8fDE3MDE2MTQ0NTd8MA&ixlib=rb-4.0.3&q=85"
            alt="person working on a laptop "
            class="h-[250px] w-full rounded-xl object-cover md:h-[500px] lg:h-full"
          />
        </figure>
        <div class="basis-[45%]">
          <div>
            <p
              id="about"
              class="mb-[0.8rem] text-[18px] font-normal leading-[24px] text-[#999] lg:text-[20px] lg:leading-[32px]"
            >
              Recursive Zero - crafting compact apps for smoother workflows and smarter storage solutions, enhancing
              your day-to-day productivity
            </p>
          </div>
          <div>
            <a href="#contactForm">
              <button class="h-[50px] rounded-[5px] bg-[#FFCC00] px-[20px] text-[14px] text-[#111] lg:text-[16px]">
                Contact us
              </button>
            </a>
            <a href="#" class="ml-[8px]">
              <button class="buttonTheme learn-btn h-[50px] rounded-[5px] px-[20px] text-[14px] lg:text-[16px]">
                Learn more
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
