<section>
  <div class="p-[20px]">
    <div class="mx-auto">
      <div class="flex-row-reverse items-start gap-[20px] lg:flex">
        <div class="mb-[10px] basis-[50%] md:mb-[40px]">
          <figure>
            <img
              src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNDk5MjB8MHwxfHNlYXJjaHw0Nnx8VGVjaG5vbG9neXxlbnwwfHx8fDE3MDE2MTQ0NTh8MA&ixlib=rb-4.0.3&q=80&w=1080"
              alt="contactus image"
              class="h-[200px] w-full rounded-[10px] object-cover md:h-[400px]"
            />
          </figure>
        </div>
        <div class="basis-[50%]">
          <h2
            class="text-[27.3px] font-bold tracking-[-0.54px] md:text-[31.2px] md:leading-[37.5px] md:tracking-[-0.62px]"
          >
            Reach Recursive Zero
          </h2>
          <p
            class="contactSectionText mt-[5px] text-[14px] leading-[22.4px] text-[#999999] md:text-[16px] md:leading-[25.6px]"
          >
            Tech simplified - Harness the power of modern technology with Recursive Zero; just drop a message in our
            contact form and let's ignite your journey to digital transcendence
          </p>
          <form id="contactForm" action="" class="contact-form mt-[20px]">
            <input
              type="text"
              name=""
              placeholder="First name"
              class="formInputBg mt-[5px] w-full rounded-[5px] p-[10px]"
            />
            <input
              type="email"
              name=""
              placeholder="Email"
              class="formInputBg mt-[5px] w-full rounded-[5px] p-[10px]"
            />
            <textarea
              name=""
              cols="30"
              rows="10"
              placeholder="Message"
              class="formInputBg mt-[5px] h-[100px] w-full rounded-[10px] p-[10px] md:h-[120px]"></textarea>
            <button class="mt-[5px] h-[40px] rounded-[5px] bg-[#ffcc00] px-[20px] text-[#111]"> Send </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
