<footer>
  <div class="h-[1px] w-full bg-white/70"></div>

  <div class="p-[20px] lg:py-[50px]">
    <div class="mx-auto flex max-w-[100rem] flex-row items-center justify-between">
      <div class="footer-bottom mb-[30px] lg:mb-[40px] lg:pt-[20px]">
        <div>
          <p class="footerBottomA text-[12.5px] leading-[20px] text-[#999]">
            ©2025
            <a href="/" class="footerBottomB text-[#fff]">
              <strong> RecursiveZero Private Limited</strong>
            </a>
            | All Rights Reserved |
            <a href="/terms" class="hover:text-white">Terms & Conditions</a> |
            <a href="/privacy" class="hover:text-white">Privacy Policy</a>
          </p>
        </div>
      </div>
      <div class="footer-top justify-between border-b border-[#222] pb-[30px] lg:flex lg:pb-[10px]">
        <div class="footer-links flex justify-end">
          <ul class="flex gap-[0.62rem] font-bold">
            <li>
              <a
                href="https://www.twitter.com/recursivezero"
                target="_blank"
                class="social-link inline-flex size-[40px] items-center justify-center rounded-[5px]"
              >
                X
              </a>
            </li>
            <li>
              <a
                href="mailto:recursivezero@outlook.com"
                class="social-link inline-flex size-[40px] items-center justify-center rounded-[5px]"
              >
                M
              </a>
            </li>
            <li>
              <a
                href="https://www.github.com/recursivezero"
                target="_blank"
                class="social-link inline-flex size-[40px] items-center justify-center rounded-[5px]"
              >
                G
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
