<section>
  <div id="newsLetterSection" class="">
    <div class="p-[20px] lg:py-[50px]">
      <div class="mx-auto">
        <h2
          class="text-center text-[27.34px] font-bold leading-[32.8px] tracking-[-0.54px] md:text-[31.2px] md:leading-[37.5px] md:tracking-[-0.62px]"
        >
          Subscribe to our newsletter
        </h2>
        <p
          id="newsLetterText"
          class="mt-[5px] text-center text-[14px] leading-[22.4px] text-[#999999] md:text-[14px] md:leading-[25.6px] lg:text-[16px]"
        >
          Receive our most recent news and updates
        </p>
        <form action="" class="relative mx-auto mt-[20px] lg:max-w-[500px]">
          <input
            id="inputBg"
            type="text"
            placeholder="Email"
            class="input w-full rounded-[5px] border border-[#222] bg-[#111] p-[14px] placeholder:text-[#757575]"
          />
          <button
            class="absolute right-[10px] top-[7px] h-[40px] max-w-[200px] rounded-[5px] bg-[#FFCC00] px-[20px] text-[16px] text-[#111]"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
