@import url("https://unpkg.com/normalize.css") layer(normalize);
@tailwind base;

@layer normalize, base, demo;

@layer demo {
  :root {
    --header-height: 80px;
    --sidebar-width: 16ch;
    --timing: 0.42s;
    --ease: linear(0 0%,
        0.0036 9.62%,
        0.0185 16.66%,
        0.0489 23.03%,
        0.0962 28.86%,
        0.1705 34.93%,
        0.269 40.66%,
        0.3867 45.89%,
        0.5833 52.95%,
        0.683 57.05%,
        0.7829 62.14%,
        0.8621 67.46%,
        0.8991 70.68%,
        0.9299 74.03%,
        0.9545 77.52%,
        0.9735 81.21%,
        0.9865 85%,
        0.9949 89.15%,
        1 100%);
  }

  .layout {
    position: relative;
    width: max-content;
    margin: 20px 10px;
    min-height: calc(100svh - var(--header-height));
    display: flex;
  }

  [popover] {
    inset: unset;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    margin: 0;
    flex-shrink: 0;
    right: 100%;
    top: var(--header-height);
    border: 0;
    background: transparent;
    height: 100%;
    padding: 0;
    overflow: visible;
    height: calc(100svh - var(--header-height));
    position: sticky;
  }

  main {
    border: 2px solid #0000;
  }

  [popover] ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    font-family: "Livvic", sans-serif;
    gap: 0.5rem;
  }

  [popover] a {
    display: inline-block;
    width: 100%;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    text-decoration: none;
    color: inherit;
  }

  [popover] {
    color: color-mix(in hsl, currentColor, #0000 15%);

    button,
    svg {
      color: inherit;
    }
  }

  .hider,
  [popovertargetaction] {
    display: none;
  }

  button {
    background: #0000;
    position: relative;
    cursor: pointer;
  }

  button:is(:active, :hover, :focus-visible) {
    --active: 1;
  }

  button::before {
    content: "";
    background: color-mix(in hsl, canvas, canvasText 15%);
    position: absolute;
    inset: 0;
    border-radius: 6px;
    z-index: -1;
    opacity: var(--active, 0);
    transition: opacity 0.2s;
  }

  .hider {
    display: none;
  }

  @media (max-width: 768px) {
    button.hider {
      height: 48px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 12px 12px 0 0;
      background: #0000;

      &::before {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        height: 6px;
        width: 40px;
        border-radius: 10px;
        background: color-mix(in hsl, canvas, canvasText 40%);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
    }

    .actions {
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      translate: 0 calc(clamp(0, var(--ty), var(--distance) - 88) * -1px);
      transition-duration: var(--timing);
      transition-timing-function: var(--ease);
    }

    [popover] .bear-link {
      display: grid;
      position: fixed;
      bottom: 1rem;
      left: 1rem;
      width: 44px;
      height: 44px;
      padding: 0;
      top: unset;

      svg {
        width: 65%;
      }
    }

    [popover] {
      display: none;
      z-index: 99999;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: calc(100svh - 2rem);
      top: unset;
      background: canvas;
      padding: 48px 0.5rem 0 0.5rem;
      border-radius: 12px 12px 0 0;
      outline: 1px solid color-mix(in hsl, canvas, canvasText 25%);
      translate: 0 100%;
    }

    [data-placement="bottom"] [popover] {
      height: fit-content;
      padding-bottom: 44px;
      overflow: hidden;
    }

    [popover] nav {
      flex: 1;
    }

    [data-resizing="false"] [popover] {
      transition: display, overlay, translate;
      transition-behavior: allow-discrete;
      transition-duration: var(--timing);
      transition-timing-function: var(--ease);
    }

    [popover]:popover-open {
      display: flex;
      flex-direction: column;
      translate: 0 calc(clamp(0, var(--ty, 0), var(--distance) - 88) * 1px);

      @starting-style {
        translate: 0 100%;
      }
    }

    [data-complete="true"] [popover]:popover-open,
    [data-throwing="true"] [popover]:popover-open {
      translate: 0 calc(max(0, var(--ty, 0)) * 1px);
    }

    /* [popover]:popover-open {
      translate: 0 calc(var(--ty, 0) * 1px);
    } */

    html {
      --size: 45px;
      --line: color-mix(in lch, white, transparent 85%);
      background:
        linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
        linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
        hsl(210 70% 34%);
    }

    body {
      background-color: canvas;
      transition-property: scale, translate, border-radius;
      transition-duration: var(--timing);
      transition-timing-function: var(--ease);
      transform-origin: 50% 0;
    }

    :root:has(:popover-open) body {
      scale: calc(0.95 + (clamp(0, var(--complete), 1) * 0.05));
      translate: 0 calc((env(safe-area-inset-top) + 14px) * (1 - clamp(0, var(--complete), 1)));
      border-radius: calc(12px * (1 - clamp(0, var(--complete), 1)));
      overflow: hidden;
    }

    .hider:is(:active, :hover, :focus-visible),
    [popovertargetaction]:is(:active, :hover, :focus-visible) {
      --active: 1;
    }

    [popovertargetaction],
    .hider {
      display: grid;
      position: fixed;
      place-items: center;
      padding: 0;
      width: 48px;
      aspect-ratio: 1;
      z-index: 9999;
      background: transparent;
      border: 0;
      border-radius: 12px;
      cursor: pointer;

      svg {
        width: 60%;
      }
    }

    [popover]::backdrop {
      background: hsl(0 0% 10% / 0.4);
      transition-property: display, overlay, opacity;
      transition-behavior: allow-discrete;
      transition-duration: var(--timing);
      transition-timing-function: var(--ease);
      opacity: 0;
    }

    [data-dragging="true"] [popover]::backdrop {
      transition-duration: 0s;
    }

    [popover]:popover-open::backdrop {
      opacity: calc(1 - clamp(0, var(--complete), 1));
    }

    @starting-style {
      [popover]:popover-open::backdrop {
        opacity: 0;
      }
    }
  }

  [data-placement="top"] [popovertarget="nav"]:not(.hider) {
    top: 1rem;
    right: 1rem;
  }

  [data-placement="bottom"] [popovertarget="nav"]:not(.hider) {
    top: unset;
    bottom: 1rem;
    left: 1rem;
    right: unset;
  }

  [data-placement="bottom"] .placement-toggle {
    scale: -1;
  }

  main {
    position: relative;
  }

  .actions {
    display: flex;
    gap: 0 0.25rem;
    padding-inline: 0.5rem;

    button {
      width: 44px;
      aspect-ratio: 1;
      display: grid;
      padding: 0;
      place-items: center;
      border: 0;
      color: red;

      svg {
        opacity: calc(0.625 + var(--active, 0));
        width: 50%;
      }
    }
  }

  .theme-toggle {
    & svg {
      & symbol {
        display: none;
      }
    }
  }

  [data-theme="system"] .theme-toggle svg symbol:nth-of-type(1),
  [data-theme="light"] .theme-toggle svg symbol:nth-of-type(2),
  [data-theme="dark"] .theme-toggle svg symbol:nth-of-type(3) {
    display: block;
  }

  [data-theme="light"] .placement-toggle,
  [data-theme="system"] .placement-toggle {
    color: black;
  }

  [data-theme="dark"] .placement-toggle {
    color: white;
  }

  [data-debug="false"] .debug-toggle g:first-of-type {
    display: block;
  }
}